
.home-image {
  background-image: url("https://www.pakutaso.com/shared/img/thumb/aig-mid221005412-xl_TP_V.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
