
.order {
  background-color: darksalmon;
  position: relative;
  min-height: 100vh;
  padding-top: 11em;
}

.order-title {
  font-family: 'Marcellus', serif;
  font-size: 2.5em;
  font-weight: 100;
}
