
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

footer {
  font-family: 'Marcellus', serif;
  font-size: 0.8em;
  color: rgb(80, 80, 80);
  padding: 1em;
  background-color: #F2F2F2;
}
